.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
}
.main {
  height: 100%;
  margin-left: 20%;
}
#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.tour-options{
  padding: 6px 8px;
}
.form-select {
  width: 100%;
  padding: 8px;
}
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #212121;
  width: 100%;
  display: block;
  padding: 8px 0px;
  text-align: center;
}
.member-item {
  background-color: #fff;
  padding: 8px;
  margin: 4px 8px 4px 8px;
  display: flex;
}
.member-img {
  margin-top: auto;
  margin-bottom: auto;
}
.member-details {
  margin-left: 8px;
  flex-direction: column;
}
.member-details a{
  text-decoration: none;
  color: #000;
}
.member-name{
  margin: 0;
}
.member-status {
  font-weight: bold;
  color: #757575;
  text-transform: uppercase
}
.going {
  color: #4caf50;
}
.rest {
  color: #ffc107;
}
.danger {
  color: red
}

/* DETAILS */
.navbar {
  background-color: #eee;
  padding: 16px;
  overflow: hidden;
}
.navbar a{
  text-decoration: none;
  color: #000;
}
.detail-main {
  margin: 2em;
}
.profile {
  display: flex;
  background-color: #fff;
}
.profile-image {
  width: 7.5em;
  height: 7.5em;
  background-color: #000;
}
.profile-details {
  margin-left: 2em;
}
.profile-name {
  margin: 0;
}
.chart-layout{
  width: 60%;
  height: 500px;
  margin-top: 100px;
}
.chart-layout p{
  font-weight: bold;
  margin-bottom: 0;
}

/* CREATE */
.input-layout {
  margin: 6px 8px;
  box-sizing: border-box;
}
.input {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
}
.item {
  background-color: #fff;
  padding: 8px;
  margin: 8px 8px 8px 8px;
  display: flex;
  flex-direction: column;
}
.item h4, .item p {
  margin: 0;
}
.btn2 {
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  width: 100%;
  background-color: #212121;
  text-decoration: none;
}
.btn3 {
  box-sizing: border-box;
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  width: 100%;
  background-color: #757575;
  text-decoration: none;
}